html {
    /* font-family: 'Lateef', cursive; */
}
.navbar {
    min-width: 100%;
    background-image: url("../images/prism.png");
    border-bottom: 2px ridge #C0b283;
}

.navbar li {
    display: inline
}

#navtext {
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    color: white;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-family: 'Lateef', cursive; */
    background-image: url("../images/prism.png");
    font-size: 18px;
    vertical-align: middle;
    color: #f4f4f4;
    /* margin-bottom: 100px; */
    height: 100%;
}

.col-xs-8 {
    float: left;
    border: 5px ridge black;
    text-align: auto;
    margin-top: 50px;    
}

.col-xs-2 {
    float: left;
}

.myphoto {
    float:left;
    border: 2px solid #000000;
    margin-right: 15px; 
    margin-bottom: 225px;
}

#maincontent {
    margin-top: 150px;
    margin-bottom: 50px;
    border: 5px ridge black;
}

#portfoliocontainer {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border: 5px ridge black;

}

#contactbody {
    margin-bottom: 50px;
    border: 5px ridge black;

}

.col-xs-8 h2 {
    text-align: center;
    font-weight: bold;
    margin: 50px;
    border-bottom: 3px solid #c0b283;
}

.col-xs-8 h2 {
    padding-bottom: 40px;
}

/* .projectcolumn1 {
    float: left;
}

.projectcolumn2 {
    float: left;
} */

#name {
    width: 658px;
}

#email {
    width: 640px;
}

#message {
    width: 751px;
    height: 250px;
}

#submit {
    margin-bottom: 20px;
    margin-left: 40px;
    width: 100px;
}

footer {
    clear: both; 
    overflow: auto;
    position: sticky;
    height: 50px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 3px solid #c0b283;
    background-image: url("../images/prism.png");
    color: black;
}

footer p {
    text-align: center;
    font-size: 14px;
    border-top: 8px;
    padding-top: 18px;
}

